html
  width: 100%
  height: 100%

body
  background-color: #f7f7f7
  width: 100%
  height: 100%
  font-size: 14px
  font-family: 'Cabin', Sans-Serif

h1,h2,h3,h4,h5,h6
font-family: 'Roboto Condensed', Sans-Serif

a
  &:hover
    text-decoration: none

.app
  margin-top: 40px
  &__title
    font-size: 60px
    text-align: center
    color: #ff536e
    margin-bottom: 20px

.search
  width: 60%
  margin: 0 auto
  @media screen and (max-width: 600px)
    width: 90%

  &__input
    background: #fff
    text-align: center
    box-shadow: 0 0 5px rgba(0,0,0,.02)
    border: none
    color: #ff536e
    height: 45px
    font-size: 18px
    transition: all .3s ease-in-out



    &:focus
      color: #ff536e
      box-shadow: none
      outline: none
      box-shadow: 0 5px 20px rgba(0,0,0,.09)
      opacity: .9

@keyframes preload
  from
    opacity: .7
  to
    opacity: 1


.section
  margin: 20px 0

  &__title
    display: block
    margin: 20px 0
    font-size: 22px
    text-align: left
    color: #3f4957
    font-weight: 600
  &__loading
    background-color: #4158D0
    background-image: linear-gradient(45deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%)
    text-align: center
    color: #fff
    font-size: 20px
    transition: all 1s ease-in-out
    animation: preload 2s infinite
  &__fail
    text-align: center
    color: #fff
    font-size: 20px
    background-image: linear-gradient(to left, #FD705B 0%, #F94B54 100%)
    a
      color: pink

.card
  border: none
  box-shadow: 0 0 3px rgba(0,0,0,.1)
  transition: all .3s ease-in-out

  &:hover
    transform: scale(1.02) translateY(-5px)

  &--event
    color: #fff
    margin-bottom: 30px
    background-color: #FBDA61
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%)
    &:hover
      box-shadow: 0 2px 20px #FBDA61
    .card-title
      font-weight: 600
    .card-subtitle
      font-size: 14px
      font-style: italic
      font-weight: 100
    p
      color: #f4f4f4
      font-size: 12px

  &--video
    background-color: #FBAB7E
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%)
    margin-bottom: 30px
    cursor: pointer
    &:hover
      box-shadow: 0 2px 20px #FBAB7E

    &__bg
      background-size: cover
      padding-top: 75%
      opacity: .7
      &:hover
        opacity: .2

    svg
      position: absolute
      left: 0
      right: 0
      margin: auto
      top: 50px
      cursor: pointer
    img
      width: 100%

  &--album
    background-color: #21D4FD
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)
    background-size: cover
    margin-bottom: 30px
    color: #fff
    &:hover
      box-shadow: 0 2px 20px #21D4FD

    &__bg
      background-size: cover
      padding-top: 75%
      opacity: .7
      transition: opacity .3s ease-in-out
      &:hover
        opacity: .2


.artist
  border-radius: .25rem
  margin: 20px 0
  color: #fff
  text-align: center

.jumbotron
  background-size: cover
  position: relative
  padding: 40px 0

  h1
    text-shadow: 0 0 5px #333

  .container
    position: relative
    z-index: 1

  &__overlay
    background-color: #FF3CAC
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%)
    position: absolute
    top: 0
    left 0
    width: 100%
    height: 100%
    opacity: .7

.video-modal
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  z-index: 998
  max-width: 800px
  height: 500px
  display: none
  &--show
    display: block
  video
    width: 100%
    position: relative
    z-index: 999
    box-shadow: 0 0 20px  rgba(255,255,255,1)
  &__overlay
    background-color: #FEE140
    background-image: linear-gradient(45deg, #FEE140 0%, #FA709A 100%)
    position: fixed
    left: 0
    top: 0
    z-index: 997
    width: 100%
    height: 100%
    opacity: .9
