html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 'Cabin', Sans-Serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
font-family: 'Roboto Condensed',
Sans-Serif,
video {
  max-width: 100%;
}
.app {
  margin-top: 40px;
}
.app__title {
  font-size: 60px;
  text-align: center;
  color: #ff536e;
  margin-bottom: 20px;
}
.search {
  width: 50%;
  margin: 0 auto;
}
.search__input {
  background: #fff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.02);
  border: none;
  color: #ff536e;
  height: 45px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.search__input:focus {
  color: #ff536e;
  box-shadow: none;
  outline: none;
  box-shadow: 0 5px 20px rgba(0,0,0,0.09);
  opacity: 0.9;
}
.section {
  margin: 20px 0;
}
.section__title {
  display: block;
  margin: 20px 0;
  font-size: 22px;
  text-align: left;
  color: #3f4957;
  font-weight: 600;
}
.card {
  border: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.02) translateY(-5px);
}
.card--event {
  color: #fff;
  margin-bottom: 30px;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}
.card--event:hover {
  box-shadow: 0 2px 20px #fbda61;
}
.card--event .card-title {
  font-weight: 600;
}
.card--event .card-subtitle {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
}
.card--event p {
  color: #f4f4f4;
  font-size: 12px;
}
.card--video {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  margin-bottom: 30px;
}
.card--video:hover {
  box-shadow: 0 2px 20px #fbab7e;
}
.card--video svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  cursor: pointer;
}
.card--video img {
  width: 100%;
}
.card--album {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background-size: cover;
  margin-bottom: 30px;
  color: #fff;
}
.card--album:hover {
  box-shadow: 0 2px 20px #21d4fd;
}
.artist {
  border-radius: 0.25rem;
  margin: 20px 0;
  color: #fff;
  text-align: center;
}
.jumbotron {
  background-size: cover;
  position: relative;
  padding: 40px 0;
}
.jumbotron h1 {
  text-shadow: 0 0 5px #333;
}
.jumbotron .container {
  position: relative;
  z-index: 1;
}
.jumbotron__overlay {
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
